{% extends "base.html" %}

{% block head_content %}
<title>Platzi</title>
{% endblock %}

{% block container %}
        <div class="row">

            {% for phone in phones %}
                <div class="col-lg-4">
                    <img src="{{phone.Company.Icon}}" alt="Logo Compañia">
                    <h3>Compañia:{{phone.Company.Name}}</h3>
                    <h5>Direccion: {{phone.Company.Direccion}}</h5>
                    


                </div>

            {% endfor %}
            



        </div>





    </div>


    
{% endblock%}